<ng-container *ngIf="auth?.username?.length; else default">
  <div class="text-center mt-6">
    <h1 class="text-4xl font-bold text-gray-900">This is basic frontend app</h1>
    <p class="text-lg text-gray-600 mt-2">
      You are logged in as {{ auth.username }}
    </p>
  </div>
</ng-container>

<ng-template #default>
  <div class="text-center mt-6">
    <h1 class="text-4xl font-bold text-gray-900">This is basic frontend app</h1>
    <p class="text-lg text-gray-600 mt-2">You can login, register here</p>
  </div>

  <div class="mt-4 flex flex-col md:flex-row gap-4 justify-center items-center">
    <button mat-raised-button color="primary" (click)="onRegister()">
      Register
    </button>
    <button mat-stroked-button color="accent" (click)="onLogin()">Login</button>
  </div>
</ng-template>
